<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SkyNet Dashboard</title>
    <link rel="icon" type="image/x-icon" href="/logo.png">
    <link href="/css/panel.css" rel="stylesheet">

</head>
<body>
<!-- Sidebar Navigation -->
<aside class="sidebar" id="sidebar">
    <div class="sidebar-header">
        <div class="logo">SkyNet</div>
        <!--        <div class="user-info">-->
        <!--            <div class="user-avatar">S</div>-->
        <!--            <div>-->
        <!--                <div class="user-name">SkyNet User</div>-->
        <!--                <div class="user-role">Cyberdyne</div>-->
        <!--            </div>-->
        <!--        </div>-->
    </div>

    <nav class="sidebar-menu">
        <div class="menu-item active">
            <span class="icon">📊</span> Dashboard
        </div>
        <div class="menu-item">
            <span class="icon">🧑‍🧒‍🧒</span> Users
        </div>
        <div class="menu-item">
            <span class="icon">🖥️</span> New Connection
        </div>
        <div class="menu-item">
            <span class="icon">🧮</span> Connections
        </div>
        <div class="menu-item">
            <span class="icon">📓</span> Profile
        </div>
        <a href="/Panel/Logout" class="menu-item">
            <span class="icon">🧣</span> Logout
        </a>
    </nav>
</aside>

