@include('Components/HeaderDash');

<!-- Main Content Area -->
<main class="main-content">
    <div class="header">
        <button class="toggle-sidebar" id="toggleSidebar">☰</button>
        <h1 class="page-title">Dashboard</h1>
    </div>

    <!-- Recent Orders Table -->
    <div class="card">
        <div class="card-header">
            <h2 class="card-title">Users</h2>
        </div>
        <div class="card-body">
            <table>
                <thead>
                <tr>
                    <th>User ID</th>
                    <th>Username</th>
                    <th>DateTime</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>

                    @UsersData

                </tbody>
            </table>
        </div>
    </div>

</main>

@include('Components/FooterDash');